{% extends 'student/students_layout.html' %}
{% block student_complaints %}active{% endblock student_complaints %}
{% block student_content %}

<div class="oneGrid">
    <a class="btn btn-primary create-btn" type="submit" href="{{ url_for('new_complaint') }}">Create Complaint</a>
</div>

<div class="card-deck grid">
    {% for complaint in complaints %}
        <div class="card">
            <div class="card-header">
                <div class="article-metadata">
                    <h3 class="card-title">{{ complaint.title }}</h3> 
                </div>
            </div>
            <div class="card-body">                    
                                   
                <p style="color:black;">{{complaint.content}}</p>
                <p style="text-align: right;"><small>By: {{ complaint.author.firstname }} {{complaint.author.lastname}}</small></p>
                <h6 style="color:black; text-align: center; font-weight:bold;">{{ complaint.status }}</h6>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}