{% extends "student/students_layout.html" %}
{% block display_menu %}active{% endblock %}
{% block student_content %}
    <section>
    <div class="container">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 mt-4 font-weight-bold">Update Menu</legend>
                <div class="form-group">
                    {{ form.type_of_meal.label(class="form-control-label") }}
                    {% if form.type_of_meal.errors %}
                        {{ form.type_of_meal(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.type_of_meal.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.type_of_meal(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.menu.label(class="form-control-label") }}
                    {% if form.menu.errors %}
                        {{ form.menu(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.menu.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.menu(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.image.label() }}
                    {{ form.image(class="form-control-file") }}
                    {% if form.image.errors %}
                        {% for error in form.image.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    </section>
{% endblock student_content %}