{% extends 'admin/admin_layout.html' %}
{% block admin_announcements %}active{% endblock %}
{% block admin_content %}
<style>
    .card{
        padding: 2%;
    }
</style>
    <div class="container" style="padding: 0 10%;">
        {% if announcements %}
        {% for announcement in announcements %}
            <div class="card">
                <a href="{{url_for('announcement_detail', announcement_id = announcement.id)}}"><h4>{{announcement.title}}</h4></a>
                <p style="color: black">Author: {{announcement.author.firstname}} {{announcement.author.lastname}}</p>
                <p style="color: black;">{{announcement.content}}</p>
                <p style="float: right;">{{announcement.date_posted.strftime('%d-%m-%Y %H:%M')}}</p>
                <a href="{{ url_for('announcement_update', announcement_id=announcement.id) }}">

                <div class="row">
                    <div class="col-md-2"><button class="btn btn-warning" type="submit">Update</button></div>
                    <div class="col-md-2">
                        <form action="{{ url_for('announcement_delete', announcement_id=announcement.id) }}" method="POST">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
                
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <h2>No Announcements</h2>
    {% endif %}

    <a class="btn btn-primary" type="submit" href="{{ url_for('announcement_create') }}">Create Announcement</a>

    </div>
{% endblock admin_content %}