{% extends 'admin/admin_layout.html' %}
{% block admin_complaints %}active{% endblock %}
{% block admin_content %}
<style>
    .card{
        padding: 2%;
    }
</style>
    <div class="container" style="padding: 0 10%;">
        {% if complaints %}
        {% for complaint in complaints %}
            <div class="card">
                <h4>{{complaint.title}}</h4>
                <p style="color: black">Author: {{complaint.author.firstname}} {{complaint.author.lastname}}</p>
                <p style="color: black;">{{complaint.content}}</p>
                <p>Status: {{complaint.status}}</p>
               <a href="{{ url_for('complaint_status', complaints=complaint.id) }}"><button class="myDIV" type="submit" >Toggle Status</button></a>

            </div>
            <hr>
        {% endfor %}
    {% else %}
        <h2>No complaints</h2>
    {% endif %}

    </div>
    <script>
        function myFunction() {
          var x = document.getElementByClass("myDIV");
          if (x.innerHTML === "Resolve") {
            x.innerHTML = "Unresolve";
          } else {
            x.innerHTML = "Resolve";
          }
        }
        </script>

{% endblock admin_content %}