{% extends 'cr/cr_layout.html' %}
{% block cr_menu %}active{% endblock %}
{% block cr_content %}
<h1>Mess Menu</h1>
    {% if messMenu %}
        {% for item in messMenu %}
            <h3>{{item.type_of_meal}}</h3>
            <h3>{{item.user_id}}</h3>
            <h3>{{item.date_posted}}</h3>
            <h3>{{item.menu}}</h3>
            <img src="{{ url_for('static', filename='menu_pics/' + item.image) }}" alt="food">
            <hr>
        {% endfor %}
    {% else %}
    {% endif %}
{% endblock %}